<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Schukin.UnemployedDataExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Schukin.UnemployedDataExport.Properties.Settings>
      <setting name="SenderId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SenderName" serializeAs="String">
        <value>Министерство социальной защиты населения Рязанской области</value>
      </setting>
      <setting name="RecipientId" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RecipientName" serializeAs="String">
        <value>Министерство здравоохранения Рязанской области</value>
      </setting>
      <setting name="SenderFileCode" serializeAs="String">
        <value>MSRO</value>
      </setting>
      <setting name="FileDescription" serializeAs="String">
        <value>Сведения о неработающих гражданах</value>
      </setting>
    </Schukin.UnemployedDataExport.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="Devart.Data.Oracle" type="Devart.Data.Oracle.Entity.OracleEntityProviderServices, Devart.Data.Oracle.Entity.EF6, Version=9.4.314.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Schukin.UnemployedDataExport.DataConnectionString" connectionString="metadata=res://*/Data.MzModel.csdl|res://*/Data.MzModel.ssdl|res://*/Data.MzModel.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=sergey;Password=k;Server=ORAVIPL;Unicode=True;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>